<h1 class="m-5 text-center">
    {{message}}
    <div>
        {{!-- <img src="https://martinbrainon.com/inicio/wp-content/uploads/2018/01/lead-nuclear-power-human-error-homer-simpson-1.jpg" alt="" srcset=""> --}}
        
        <img src="../images/test.jpg" alt="" srcset="">
    </div>
</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
